[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[dev-packages]
pylint = "*"

[requires]
python_version = "3.7"

[packages]
eth-account = "*"
paho-mqtt = "*"
click = "*"
certifi = "*"
python-magic = "*"

[packages.e1839a8]
path = "."
editable = true
