---
name: Test code quality


on:
  push:
  pull_request:
    branches:
      - master


jobs:
  code-quality:
    runs-on: ubuntu-22.04

    steps:
      - uses: actions/checkout@v4

      - name: Workaround github issue https://github.com/actions/runner-images/issues/7192
        run: sudo echo RESET grub-efi/install_devices | sudo debconf-communicate grub-pc

      - name: Install pip and hatch
        run: |
          sudo apt-get install -y python3-pip
          pip3 install "click<8.2" hatch hatch-vcs

      - name: Cache dependencies
        uses: actions/cache@v4
        with:
          path: ~/.cache/pip
          key: ${{ runner.os }}-code-quality-${{ hashFiles('pyproject.toml') }}
          restore-keys: |
            ${{ runner.os }}-code-quality-

      - name: Install required system packages only for Ubuntu Linux
        run: sudo apt-get install -y libsecp256k1-dev

      - name: Run Hatch lint
        run: hatch run linting:all
