name: Pytest and code Coverage

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main
  schedule:
    # Run every night at 04:00 (GitHub Actions timezone)
    # in order to catch when unfrozen dependency updates
    # break the use of the library.
    - cron: '4 0 * * *'

jobs:
  build:
    strategy:
      matrix:
        os: [ macos-11, macos-12, macos-13, macos-14, ubuntu-20.04, ubuntu-22.04, ubuntu-24.04 ]
    runs-on: ${{matrix.os}}

    steps:
      - uses: actions/checkout@v4
      - run: sudo apt-get install -y python3-pip libsecp256k1-dev
      - run: python -m pip install --upgrade pip hatch coverage

        # Only run coverage on one OS
      - run: hatch run testing:test
        if: matrix.python-version != '3.11'
      - run: hatch run testing:cov
        if: matrix.os == 'ubuntu-24.04'
      - uses: codecov/codecov-action@v4.0.1
        if: matrix.os == 'ubuntu-24.04'
        with:
          token: ${{ secrets.CODECOV_TOKEN }}
          slug: aleph-im/aleph-sdk-python
