---
name: Build source and wheel packages


on:
  push:
    branches:
      - master
  pull_request:
    branches:
      - master


jobs:
  build-install-wheel:
    strategy:
      fail-fast: false
      matrix:
        os: [macos-13, macos-14, ubuntu-22.04, ubuntu-24.04]
    runs-on: ${{matrix.os}}

    steps:
      - uses: actions/checkout@v4

      - name: Workaround github issue https://github.com/actions/runner-images/issues/7192
        if: startsWith(matrix.os, 'ubuntu-')
        run: sudo echo RESET grub-efi/install_devices | sudo debconf-communicate grub-pc

      - name: Install required system packages for macOS
        if: startsWith(matrix.os, 'macos-')
        run: |
          brew update
          brew install secp256k1

      - name: Set up Python for macOS
        if: startsWith(matrix.os, 'macos')
        uses: actions/setup-python@v5
        with:
          python-version: 3.11

      - name: Install required system packages only for Ubuntu Linux
        if: startsWith(matrix.os, 'ubuntu-')
        run: |
          sudo apt-get update
          sudo apt-get -y upgrade
          sudo apt-get install -y libsecp256k1-dev

      - name: Install required Python packages
        run: |
          python3 -m venv /tmp/venv
          /tmp/venv/bin/python3 -m pip install --upgrade hatch hatch-vcs

      - name: Build source and wheel packages
        run: |
          /tmp/venv/bin/hatch build

      - name: Install the Python wheel
        run: |-
          python3 -m venv /tmp/install-venv
          /tmp/install-venv/bin/python3 -m pip install dist/aleph_client-*.whl
